@import (inline) "lib/Semantic-UI/semantic.min.css";
@import "lib/font-awesome/less/font-awesome.less";

html,
body,
.full-screen {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

.flex-container {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  > * {
    flex: 0 0 auto;
  }
}

.stretchy {
  flex: 1 1 auto;
}

.column {
  flex-direction: column;
}

.full-screen {
  .flex-container;
  .column;

  > header {
    .flex-container;
    height: 55px;
    min-width: 1000px;
    padding: 5px;
    align-items: center;
    box-shadow: 0 0 5px rgba(66,66,86,.2);
    z-index: 42;

    > .logo {
      margin: 0 10px;
    }
  }

  > .main {
    .stretchy;
    .flex-container;

    > .sidebar {
      .flex-container;
      .column;
      width: 250px;
      border-right: solid 1px #eaeaef;
      > div {
        padding: 0 10px;
      }
    }

    > .editor-area {
      .flex-container;
      .stretchy;
      flex-direction: row;

      > .editor {
        flex: 1;
        position: relative;
        border-right: solid 1px #eaeaef;
        > #editor {
          width: 100%;
          height: 100%;
        }
      }

      > .output {
        flex: 1;
        position: relative;
        width: 100%;
        height: 100%;
        > iframe {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }

      > div > .label {
        margin: 0;
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0.5em;
        background-color: rgba(230, 230, 230, 0.8);
        border-radius: .3rem;
        color: #aaa;
        z-index: 999;
        text-align: right;
        font-size: 0.8em;
      }

      > div > .optionsmenu {
        margin: 0;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 999;

        > .optionsbutton {
          background-color: rgba(230, 230, 230, 0.8);
        }
      }

      * > .header {
        font-size: 1em !important;
      }
    }
  }
}

/* Override Semantic defaults */
i.icon {
  font-family: FontAwesome;
}

.ui.button:not(.icon)>.icon:not(.button) {
  margin: 0 0.25em 0 0;
}

.ui.accordion .title:not(.ui) {
  font-weight: 600;
  font-size: 1.5em;
}

.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: 1em;
  color: #aaa;
}

.ui.list[class*="middle aligned"] .content {
  position: relative;
  top: 0.6em;
  left: 0.6em;
}

/* Override Ace configs */
.ace-line {
  white-space: nowrap;
}

.ace_editor {
  font-size: 14px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  text-rendering: optimizeLegibility;
}

/* CSS for result frame */
#output {
  position: absolute;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  color: #333;
  padding-left: 0.5em;
  padding-top: 0.2em;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  text-rendering: optimizeLegibility;
}

.liblist {
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 2px;
  margin: 4px 0;

  * > .button, .button:hover {
    box-shadow: none !important;
    vertical-align: middle !important;
  }
  * > .icon {
    font-size: 1.8em;
  }
}

#fiddle-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #CCCCCC;
}
.text.black {
  color: #1B1C1D;
}
.text.yellow {
  color: #F2C61F;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #D95C5C;
}
.text.purple {
  color: #564F8A;
}
.text.pink {
  color: #D9499A;
}
.text.orange {
  color: #E07B53;
}
.text.green {
  color: #5BBD72;
}
.text.blue {
  color: #3B83C0;
}

pre.error {
  color: #cf040e;
}

