<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" media="screen" href=@routes.Assets.versioned("stylesheets/main.min.css")>
    </head>
    <body>
        <div id="container">
            <canvas id="canvas" style="position: absolute"></canvas>
            <div id="output"><pre>Press Ctrl/Cmd-Enter to compile and run your code.</pre></div>
            <script type="text/javascript">
                var canvas = document.getElementById("canvas");
                var result = document.getElementById("output");
                var container = document.getElementById("container");
                window.addEventListener('message', function (e) {
                    var msg = e.data;
                    switch (msg.cmd) {
                        case "clear":
                            result.innerHTML = "";
                            canvas.height = container.clientHeight;
                            canvas.width = container.clientWidth;
                            canvas.getContext("2d").clearRect(0, 0, 10000, 10000);
                            break;
                        case "print":
                            result.innerHTML = msg.data;
                            break;
                        case "code":
                            try {
                                eval(msg.data);
                                eval("ScalaFiddle().main();");
                            } catch(ex) {
                                result.innerHTML = '<pre class="error">ERROR: ' + ex.message + '</pre>'
                            }
                            break;
                    }
                });
            </script>
        </div>
    </body>
</html>