<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" media="screen" href=@routes.Assets.versioned("stylesheets/main.min.css")>
    </head>
    <body>
        <div id="fiddle-container">
            <canvas id="canvas" style="position: absolute"></canvas>
            <div id="output"><pre></pre></div>
            <script type="text/javascript">
                var canvas = document.getElementById("canvas");
                var result = document.getElementById("output");
                var container = document.getElementById("fiddle-container");
                window.addEventListener('message', function (e) {
                    var msg = e.data;
                    switch (msg.cmd) {
                        case "clear":
                            result.innerHTML = "";
                            canvas.height = container.clientHeight;
                            canvas.width = container.clientWidth;
                            canvas.getContext("2d").clearRect(0, 0, 10000, 10000);
                            break;
                        case "print":
                            result.innerHTML = msg.data;
                            break;
                        case "code":
                            var jsDeps = msg.data.jsDeps;
                            var cssDeps = msg.data.cssDeps;
                            cssDeps.forEach(function(dep) {
                                var el = document.createElement("link");
                                el.setAttribute("rel", "stylesheet");
                                el.setAttribute("href", dep);
                                document.head.appendChild(el);
                            });
                            var loads = jsDeps.reduce(function(prom, dep) {
                                return prom.then(function() {
                                    return new Promise(function(resolve, reject) {
                                        console.log("Loading JS lib " + dep);
                                        var el = document.createElement("script");
                                        el.setAttribute("type", "text/javascript");
                                        el.setAttribute("src", dep);
                                        el.onerror = function(e) {
                                            console.error("Error loading JavaScript " + dep + ": ", e);
                                            resolve(dep);
                                        }
                                        el.onload = function() {
                                            resolve(dep);
                                        }
                                        document.body.appendChild(el);
                                    });
                                })
                            }, Promise.resolve());
                            loads.then(function() {
                                try {
                                    eval(msg.data.code);
                                    eval("var sf = ScalaFiddle;if(typeof sf === 'function') { if(typeof sf().main === 'function') sf().main() } else if(typeof sf.main === 'function') sf.main();");
                                } catch(ex) {
                                    panel.insertAdjacentHTML('beforeend', '<pre class="error">ERROR: ' + ex.message + '\n' + ex.stack + '</pre>')
                                } finally {
                                    e.source.postMessage("evalCompleted", "*");
                                }
                            });
                            break;
                        case "showCode":
                            if (result.getAttribute("data-jscode") !== "true") {
                                result.setAttribute("data-jscode", "true");
                                canvas.height = container.clientHeight;
                                canvas.width = container.clientWidth;
                                canvas.getContext("2d").clearRect(0, 0, 10000, 10000);
                                result.innerHTML = "<h2>Compiled JS code</h2>";
                                var pre = document.createElement("pre");
                                var code = document.createElement("code");
                                code.setAttribute("class", "language-javascript");
                                code.appendChild(document.createTextNode(msg.data));
                                pre.appendChild(code);
                                result.appendChild(pre);
                            }
                            break;
                }
            });
            </script>
        </div>
    </body>
</html>
